<div class="container mt-4">
    <form method="post" action="">
        <div class="mb-3">
            <label for="keyWords" class="form-label">Nhập từ khóa</label>
            <input type="text" name="q" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>