<div class="mt-4">
    <div class="row">
        <form method="POST" action="/courses/store">
            <div class="col-5">
                <div class="mb-3">
                    <label for="name" class="form-label">Tên khóa học</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Mô tả</label>
                    <input type="text" class="form-control" id="description" name="description">
                </div>
                <div class="mb-3">
                    <label for="videoId" class="form-label">Video ID</label>
                    <input type="text" class="form-control" id="videoId" name="videoId">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">URL hình ảnh</label>
                    <input type="text" class="form-control" id="image" name="image">
                </div>
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </div>
        </form>
    </div>
</div>